@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
:root {
  height: 100%;
}

@keyframes zoom {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

.bg-header-image {
  background-size: auto 100% !important;
  background-repeat: repeat-x !important;
}

.bg-sidebar-image {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}